/* Definimos los estilos del tablero*/
.container {
  display: grid;
	place-items: center;
  width: 100%;
  height: 70vmin;
  margin: 0;
  padding: 0;
}

.extra-zone {
  width: 100%;
  height: 5vmin;
  padding:  0 1vmin 0 1vmin;
  background-color: #263448;
  font-family:  -apple-system;
}

.captured-zone {
  width: 80%;
  height: 100%;
  margin: 0;
  float: left;
  line-height: 1.1;
}

.countdown-timer {
  width: 12%;
  margin-left: 8%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 2.5vmin;
  font-weight: 600;
  border-radius: 0.5vmin;
}

.chessboard {
  background: linear-gradient(120deg, rgb(71 37 27) 50%, #5c342a 100%);
  padding: 15px 20px 10px 5px;
  min-width: 67.5vmin;
}

.line {
  margin-left: 1%;
  min-width: 100%;
}

.boardNum {
    width: 2vmin;
    height: 8vmin;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e1dd;
    font-size: small;
}

.boardAlf{
    width: 8vmin;
    height: 1.5vmin;
    float: left;
    text-align: center;
    color: #e2e1dd;
    font-size: small;
}

.square {
  width: 8vmin;
  height: 8vmin;
  margin: 0;
  float: left;
  text-align: center;
  line-height: 1.1;
}

.line:nth-child(even) .square:nth-child(odd) {
  background-color: #5788a8;
}

.line:nth-child(even) .square:nth-child(even) {
  background-color: #e2e1dc;
}

.line:nth-child(odd) .square:nth-child(odd) {
  background-color: #e2e1dc;
}

.line:nth-child(odd) .square:nth-child(even) {
  background-color: #5788a8;
}

.white {
  color: white;
  text-shadow: #000000bf 2px 0 10px;
}

.black {
  color: black;
  text-shadow: #00000086 2px 0 10px;
}

.white, .black {
  width: fit-content;
  margin: auto;
}

.square > .white, .square > .black {
  font-size: 7.5vmin;
  font-family:  -apple-system;
}

.captured-zone > .white, .captured-zone > .black{
  font-size: 4vmin;
  float: left;
}

.draggable:hover {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.dragging {
  background-color: transparent;
  opacity: 0.4;
}

.dropzone {
  background: radial-gradient(circle at center, rgb(139 195 74 / 40%) 100%, transparent 25%);
}

.dragover {
  box-shadow: inset 0 0 0 0.7vh rgba(0, 0, 0, 0.1);
}

.capture {
  background: radial-gradient(circle at center, transparent 55%, rgba(0, 0, 0, 0.2) 56%, transparent 66%);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

#piece-selector {
  display: block;
  position: absolute;
  background-color: inherit;
  box-shadow: 0 0 16px 0.7vmin rgba(0,0,0,0.4);
  z-index: 1;
}

#piece-selector a {
  display: block;
  user-select: none;
  width: fit-content;
  margin: auto;
  padding-bottom: 2vmin;
  width: 10vmin;
  height: 10vmin;
  font-size: 10vmin;
  text-decoration: none;
  cursor: pointer;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: #1e1f26;
  font-size: 14px;
}

footer p {
  margin: 15px;
  text-align: center;
  color: #F5F5F5;
}

footer a:link {
  color: #b3a290;
}
footer a:visited {
  color: #91d4d0;
}
footer a:hover {
  color: #ff3300;
}
footer a:active {
  color: #ff3300;
}

.bg-gray-option{
  background-color: #E8E8E8;
  display: none;
}

.name-dark {
  color: #91d4d0;
  text-decoration: none;
  background: linear-gradient(to right, #91d4d0 50%, #ff3300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*=====Diseños generales=================*/
  .elementor-toggle{
    pointer-events: none;
  }

  .bg-gamer{
    background: #08141b;  /* fallback for old browsers */

  }
  .bg-blue-mars{
    background-color: #2D2E83;
  }

  @media (min-width: 1000px) {
    .chat-desktop{
      display: block;
    }
    .chat-mobil{
      display: none;
    }
  }

  @media (max-width: 999px) {
    .chat-desktop{
      display: none;
    }
    .chat-mobil{
      display: block;
    }
    .boardAlf {
        width: 11vmin;
    }
    .square {
      width: 11vmin;
      height: 11vmin;
    }
    .container{
      height: 93vmin;
    }
    .square > .white, .square > .black {
      font-size: 10.5vmin;
    }
    .bg-gray-option{
      display: block;
    }
    .extra-zone {
      height: 7vmin;
    }
    .captured-zone > .white, .captured-zone > .black{
      font-size: 6vmin;
    }
  }

  /* Congratulation  */
  .congratulation {
    height: 100vh;
    background-color: #2d2f83dc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .title {
    font-size: clamp(36px, 0.6rem, 100px);
    color: #fff;
    text-shadow: 6px 4px #2d2f83;
    width: 100%;
  }
  .sub-title{
    width: 100%;
    text-align: center;
  }