/*
Purple - #6e27c5
Yellow - #ffb617
Pink - #ff0199
*/

img{
  width:360px;
  margin-top: 50px;
  margin-bottom:50px;
  align: center;
}

header{
  background-color: #6e27c5;
  height: 15vh;
  width:100%;
  margin: 0;
  padding: 0;
  }

footer{
    box-shadow: 0 50vh 0 50vh #6e27c5;
}

body{
  text-align: center;
  background-size: cover;
  font-family: 'Patua One', cursive;
  margin: 0;
}

h1 {
  font-size: 60px;
  background-color:rgb(255,182,23);
  margin-top: 0;
  padding: 0;
  }

table { 
  border: 2px solid #000;
  background-color: white;
  border-collapse: collapse;
  color: black;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 0px;
  margin-bottom:2px;
  min-width: 372px; 
  max-width: 400px;}

/* Bingo Header in Table*/
.bh{
  font-size: 40px;
  background: #ff0199;
  color: white;
  font-weight:bold;}

.bc{
  font-size: 30px;}

/*Table cells*/
td{
  height: 65px;
  width: 65px;
  border: 2px solid black;
  border-collapse: collapse;
  border-color: black;}

p {
  padding: 15px;
  color:white;
  margin-top: 5px;
}

br{
  padding: 10px;
  margin: 5px;
}

a{
  color:#ffb617;
}

a:hover{
  text-decoration: underline;
}

free{
  background-colour:#999999;
}

#board{
  margin-bottom:25px;
}

.deactivated{
  background-color: white;
}

.activated{
  background-color:#afafaf;
}

/* Basicos */

.elementor-toggle {
  pointer-events: none;
}

.bg-gamer{
	background: #37cf71;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5051a4, #37cf71);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5051a4, #37cf71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 1000px) {
	.chat-desktop{
		display: block;
	}
	.chat-mobil{
		display: none;
	}


  }

  
  @media (max-width: 999px) {
	.chat-desktop{
		display: none;
	}
	.chat-mobil{
		display: block;
	}

  }