
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.fw-thin {
    font-weight: 100;
}

.text-uppercase {
    font-size: 14px;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.link-hover {
    transition: 0.5s;
}

.link-hover:hover {
    color: var(--bs-primary) !important;
}


.img-zoomin {
    transition: 0.5s;
}

.img-zoomin:hover {
    transform: scale(1.1);
}

/*** Topbar Start ***/
.sticky-top {
    transition: 0.5s;
    background: var(--bs-white);
}

.topbar {
    padding: 10px 30px;
}

.topbar .top-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

@media (max-width: 1400px) {
    .sticky-top .top-link {
        display: none;
    }
}

.topbar .top-link a {
    font-size: medium;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}

#note {
    position: relative;
    animation: noteAnimate 10s infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    align-items: center;
}

@keyframes noteAnimate {
    from {left: -735px;}
    to {left: 735px;}
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-weight: 400;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        font-weight: 400;
        font-family: 'Fredoka', sans-serif;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

@media (min-width: 1200px) {
    .navbar .navbar-collapse .border-top {
        border-top: none !important;
    }
}

.collapse{
    visibility: visible;
}
#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/


/*** Features Start ***/
.features {
    width: 100%;
    background: linear-gradient(rgba(26, 125, 255, 0.5), rgba(255, 255, 255, 0.3)), url(../img/features-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*** Features End ***/


/*** Top News Start ***/
.news-2 h3 {
    position: relative;
}

.news-2 h3::after {
    content: "";
    line-height: 1.3rem;
    background: var(--bs-secondary);
    position: absolute;
    width: 68%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    right: 0;
    opacity: 0.2;
}
/*** Top News End ***/


/*** Latest News Start ***/
.latest-news .latest-news-carousel.owl-carousel{
    position: relative;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -65px;
    right: 70px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.5s;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -65px;
    right: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 20px;
    transition: 0.5s;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev:hover,
.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 10px;
}
/*** Latest News End ***/


/*** Whats New Start ***/
.populer-news .whats-carousel.owl-carousel {
    position: relative;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -80px;
    right: 70px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.5s;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -80px;
    right: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 20px;
    transition: 0.5s;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.populer-news .whats-carousel.owl-carousel .owl-nav .owl-prev:hover,
.populer-news .whats-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 10px;
}

.populer-news .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}

.lifestyle .lifestyle-item {
    position: relative;
    overflow: hidden;
}

.lifestyle .lifestyle-item img {
    transition: 0.5s;
}

.lifestyle .lifestyle-item:hover img {
    transform: scale(1.2);
}

.lifestyle .lifestyle-item .lifestyle-content {
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/*** Whats New End ***/


/*** Banner Section start ***/
.banner-2 {
    position: relative;
}

.banner-content-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(rgba(26, 125, 255, 0.7), rgba(255, 255, 255, 0.7));
    z-index: 2;
}
/*** Banner Section End ***/


/*** Footer Start ***/
.footer button:hover {
    background: var(--bs-white) !important;
    color: var(--bs-primary) !important;
}

.footer .footer-item-1 .line-h {
    line-height: 38px;
}

.footer .footer-item-1 a i {
    transition: 0.5s;
}

.footer .footer-item-1 a:hover i {
    color: var(--bs-primary) !important;
}

.footer .footer-item-3 a {
    line-height: 38px;
}

.footer .footer-item-2 a {
    transition: 0.5s;
}

.footer .footer-item-2 a:hover {
    color: var(--bs-primary) !important;
}

.footer .footer-item-3 a {
    transition: 0.5s;
}

.footer .footer-item-3 a:hover {
    color: var(--bs-primary) !important;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}
/*** Footer End ***/

div.scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
    /* padding: 20px; */
  }

/* div.scroll-right {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    z-index: 10;
    right: 0;
    position: fixed;
  }

  div.scroll-left {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    z-index: 10;
    left: 0;
    position: fixed;
    flex-direction: column;
  } */

  /*Inicia cambio de estilo de scroll bar*/
::-webkit-scrollbar{
    background: #fff;
    width: 8px;
  height: 8px;
  }
  ::-webkit-scrollbar-track {
  background: #f4f6f8 ;
  border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #00983A;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:active {
  background-color: #00983A;
  }
  ::-webkit-scrollbar-thumb {
  background: #00983A;
  border-radius: 4px;
  }
  /*Finaliza cambio de estilo scroll bar*/

/* .container1 {
    width: 100% !important;
    margin: 15px;
    padding: 0px;
} */


/* MOBILE */
.mobile_bottombar .header_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.mobile_bottombar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #cacaca;
    padding: 12px 0px;
    z-index: 8;
}

.mobile_bottombar .header_icon a.icon_wrp {
    padding: 0;
}

@media (max-width: 991px) {
    .m-none{
        display: none !important;
    }
    .chat-mobil{
        height: 380px;
    }
}

@media (min-width: 992px) {
    .m-block{
        display: block !important;
    }
    .chat-mobil{
        height: 480px;
    }
}

.btn-mars{
    color: #00983A !important;
    background-color: #fff !important;
    border-color: #00983A !important;
}

.btn-mars:hover{
    color: #00983A !important;
    background-color: #fff !important;
    border-color: 00983A !important;
}

.estilos-img{
    width: 50px !important;
    height: 50px !important;
    border-radius: 100px !important;
    display: inline;
}

.estilos-img-mobil{
    width: 80px !important;
    height: 80px !important;
    border-radius: 160px !important;
    display: inline;
}

.btn-outline-mars{color:#00983A !important;border-color:#00983A !important}
.btn-outline-mars:hover{color:#fff !important;background-color:#2D2E83 !important;border-color:#2D2E83 !important}
.btn-check:focus+.btn-outline-mars,.btn-outline-mars:focus{box-shadow:0 0 0 .25rem rgba(45,46,131) !important}
.btn-check:checked+.btn-outline-mars,.btn-check:active+.btn-outline-mars,.btn-outline-mars:active,.btn-outline-mars.active,.btn-outline-mars.dropdown-toggle.show{color:#fff !important;background-color:#2D2E83 !important;border-color:#2D2E83 !important}
.btn-check:checked+.btn-outline-mars:focus,.btn-check:active+.btn-outline-mars:focus,.btn-outline-mars:active:focus,.btn-outline-mars.active:focus,.btn-outline-mars.dropdown-toggle.show:focus{box-shadow:0 0 0 .25rem rgba(255,193,7,.5) !important}
.btn-outline-mars:disabled,.btn-outline-mars.disabled{color:#fff;background-color:rgba(0,0,0,0) !important}



::-webkit-scrollbar { width: 5px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 0px;}
::-webkit-scrollbar-thumb:hover { background: #3d6077;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}

/* PREMIOS */
ol,
ul {
  list-style: none;
}

.title {
  color: #eceff1;
  /* padding: 36px 0px; */
  display: block;
}

/* .main {
  background-color: #13181f;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  overflow: auto;
} */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  overflow: auto;
  padding-left: 0px !important;
}

.card-item {
    border-radius: 15px;
  margin: 16px;
  width: 300px;
  height: 350px;
  box-shadow: 2.86px 6.67px 14.29px rgba(0, 0, 0, 0.67);
  overflow: hidden;
  z-index: 1;
}
.card-item:hover {
  cursor: grabbing;
}
.card-item:hover .card-onhover {
  top: -350px;
}
.card-item:hover .card-video {
  top: -350px;
}
.card-item:hover .card {
  opacity: 0.4;
}

.card {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

.card-image {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-onhover {
  background-color: black;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  transition: top 0.5s;
}

.card-title {
  color: #ffffff;
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 8px;
  border-bottom: 4px solid #113158;
}

.card-info {
  background: linear-gradient(to bottom, #294971 0%, #113158 100%);
  height: 100%;
  padding: 5px 16px;
}

.card-text {
  color: #ffffff;
}

/* FIN PREMIOS */

/* PERFIL */
hr{ 
    margin:30px 0;
    background:#ffffff;
    color: #fdfdfd;
  }
  .img-perfil{
    width:150px;
     height:150px;
     margin: auto;
    border: 5px solid transparent;
    border-radius: 100%;
   
  }
  .img-perfil:hover{
    border: 5px solid #11B771;
    border-radius: 100%;
    width:150px;
     height:150px;
     margin: auto;
    transition: 0.5s
     
  }
  
  .caja-gris{
    background:#ececec;
    margin:30px 0;
    padding:10px 0;
    /*font-size:0;*/
    white-space: nowrap;
  }
  .sobre{
    display: inline-block;
    text-align:center;
    border-right: 2px solid #ccc;
    border-color:#3b3a3a;
    /*width: 32%;*/
    width: calc(90% / 3);
    box-sizing: border-box;
    }
  
  .sobre:last-child{
    border-right:transparent;
  }
  .sobre p{
    margin-top:0;
  }
  /*.sobre:after{ 
    border-right: 2px solid #ccc;
    border-color:#3b3a3a;
    padding: 0px 5px 0 0;
    
  }*/
  .redes{
     background-image:url(https://p.w3layouts.com/demos/june-2016/01-06-2016/model_profile_widget/web/images/social.png);
    margin:auto;
    display: inline-block;
    height:25px;
    width:23px;
    margin: 0 15px;
    transition:all 0.5s;
    }
  
  .redes.face{background-position:0 0;}
  .redes.face:hover{ background-position:0 -30px;}
  
  .redes.twitter{ background-position:-24px 0px ;}
  .redes.twitter:hover{ background-position: -24px -30px;}
  
  .redes.instagram{ background-position:-54px 0px ;}
  .redes.instagram:hover{ background-position: -54px -30px;}
  
  .redes.youtube{ background-position:-84px 0px ;}
  .redes.youtube:hover{ background-position: -84px -30px;}
  
  .boton a{
     list-style: none;
    text-decoration: none;
     color: #fff !important;
    background:#2D2E83;
    padding: 8px 40px;
    border-radius:5px;
    margin:20px 0;  
  }
  /* FIN PERFIL */


/* INICIO SALAS DISPONIBLES */
.icon {
  font-family: "Font Awesome 5 Free",  helvetica, sans-serif;
  font-weight: 900;
}
.bg-star { background: #fce035; }
.bg-shine { background: #f83d80; }
.bg-dream { background: #0f99bd; }

.sala {
  max-width: 1100px;
  margin: 0 auto;
  color: #1b1a18;
}
footer {
  text-align: center;
  padding: 50px 0 25px;
}

/* 切り替えナビ
------------------- */
.tabMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabMenu li {
  width: calc(33.33% - 2px);
}
.tabMenu li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  background: #fff;
  color: #aaa;
}
.tabMenu li .current {
  color: #fff;
}
.tabMenu li .current::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7px 0 7px;
}

.star .current { background: #fce035; }
.star .current::after { border-color: #fce035 transparent transparent transparent; }
.star .current .typeMark i { color: #fce035; }

.shine .current { background: #f83d80; }
.shine .current::after { border-color: #f83d80 transparent transparent transparent; }
.shine .current .typeMark i { color: #f83d80; }

.dream .current { background: #0f99bd; }
.dream .current::after { border-color: #0f99bd transparent transparent transparent; }
.dream .current .typeMark i { color: #0f99bd; }

.star .current .bg-star,
.shine .current .bg-shine,
.dream .current .bg-dream {
  background: #fff;
}

.tabMenu a {
  font-family: 'Baloo Da', cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typeMark {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  position: relative;
}
.typeMark i {
  color: #fff;
  font-size: 10px;
}


/* メイン設定
------------------- */
#contents {
  margin-top: -12px;
  padding: 25px 25px 0;
  background: #fff;
}
.typeBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.specBox {
  width: calc(50% - 10px);
  font-size: 12px;
  color: #999;
  margin-bottom: 30px;
}

.specBox.ac .ac,
.specBox.da .da,
.specBox.vo .vo {
  font-weight: bold;
  color: #222;
}
.specBox .specialstatus {
  color: red;
}
.specTitle {
  font-family: 'Baloo Da', cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.specTitle span {
  display: block;
  width: 100px;
  margin: 0 auto;
  background: #ccc;
  color: #fff;
  border-radius: 20px;
  padding: 3px;
  box-sizing: border-box;
}

.da .specTitle span { background: #fa799f; }
.vo .specTitle span { background: #4beed2; }
.ac .specTitle span { background: #ffb13a; }

.specBox dl {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

.specBox dt {
  margin-right: 10px;
}
.specBox dt img {
  display: block;
}
.specBox dd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 数値 */
.appeal {
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  width: 100%;
}
.appeal li {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.appeal li:not(:last-child) {
  margin-right: 15px;
}

.appeal li::before {
  color: #fff;
  display: block;
  border-radius: 3px;
  padding: 3px 10px;
  text-align: center;
  box-sizing: border-box;
  font-size: 10px;
  margin-right: 4px;
}
.appeal .da::before {
  content: "DA";
  background: #fa799f;
}
.appeal .vo::before {
  content: "VO";
  background: #4beed2;
}
.appeal .ac::before {
  content: "AC";
  background: #ffb13a;
}

/* スキル種別 */
.skill span {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
}
.skill .main {
  background: #eee;
  margin-right: 5px;
}
.skill .sub {
  background: #eee;
}

/* 解放状況 */
.option span:not(:last-child) {
  margin-right: 5px;
}
.option span::before {
  margin-right: 3px;
}

/* 重ねてる枚数 */
.icon.star::before {
  content: "\f005";
  color: #fbc73f;
}

/* クラウンチャレンジ */
.icon.crown::before {
  content: "\f521";
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon.crown.gold::before {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.icon.crown.rainbow::before {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* 使用ピース */
.icon.peace::before {
  content: "\f130";
  color: #ddd;
}
.icon.peace.s01::before {color: #e32a32;}
.icon.peace.s02::before {color: #315ba5;}
.icon.peace.s03::before {color: #fbc73f;}
.icon.peace.s04::before {color: #513f89;}
.icon.peace.s05::before {color: #ec6d1e;}
.icon.peace.s06::before {color: #e86378;}
.icon.peace.s07::before {color: #9ec62f;}
.icon.peace.s08::before {color: #5fb876;}
.icon.peace.s09::before {color: #8f2033;}
.icon.peace.s10::before {color: #ba99c4;}
.icon.peace.s11::before {color: #b7e1f7;}

/* 1100px以下の時の処理 */
@media screen and (max-width:1100px) { 
  .typeBox {
    flex-wrap: wrap;
    justify-content: center;
  }
}
 
/* 681px〜1100pxの間の処理 */
@media screen and (min-width:681px) and (max-width:1100px) {
  .specBox {
    width: 600px;
  }
  .specBox dd {
    align-items: center;
  }
  .appeal {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0; 
    border-bottom: 0;
  }
  .skill {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    border-right: 1px dotted #ccc;
  }
}
/* 681px以下の時の処理 */
@media screen and (max-width:680px) {
  #contents {
    padding: 25px 10px;
  }
  .specBox {
    width: 100%;
  }
}
/* FIN SALAS DISPONIBLES */

  /* PREMIOS */    
  /* .center-premios {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  
  .card-premios {
    width: 430px;
    height: 180px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  
  .card-premios h1 {
    text-align: center;
  }
  
  .card-premios .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card-premios.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .card-premios:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card-premios .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card-premios .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  .card-premios .additional .user-card .level,
  .card-premios .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .card-premios .additional .user-card .points {
    top: 85%;
  }
  
  .card-premios .additional .user-card svg {
    top: 50%;
  }
  
  .card-premios .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }
  
  .card-premios .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .card-premios.green .additional .more-info h1 {
    color: #224C36;
  }
  
  .card-premios .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
  }
  
  .card-premios.green .additional .coords {
    color: #325C46;
  }
  
  .card-premios .additional .coords span + span {
    float: right;
  }
  
  .card-premios .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  
  .card-premios.green .additional .stats {
    color: #325C46;
  }
  
  .card-premios .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .card-premios .additional .stats i {
    display: block;
  }
  
  .card-premios .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card-premios .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .card-premios .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }
  
  .card-premios .general {
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .card-premios .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  } */
  
  /* FIN PREMIOS */